<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="modalLoginForm" data-controller="login">
  <div class="modal-dialog" role="document">
    <div class="modal-content reset-border-radius">
      <div class="modal-body p25">
        <div class="inner clearfix">
          <%= link_to 'x', '#', class: 'btn-cross pull-right', data: { bs_dismiss: 'modal' } %>

          <div class="text-center">
            <%= link_to root_path, style: 'display: inline-block;', class: 'mb20' do %>
              <%= image_tag 'logo.png', class: 'img-fluid img-center', width: 110 %>
            <% end %>
          </div>

          <div id="opalloginform" class="form-wrapper sign-in-wrap" data-login-target="loginForm">
            <%= form_with(model: resource, url: session_path(resource_name), class: 'login-form', data: { turbo: false, remote: true }) do |f| %>
              <p class="lead">Hello, Welcome Back!</p>

              <div class="form-group">
                <%= f.email_field :email, autofocus: true, class: 'required custom-form-control form-control', placeholder: 'Username' %>
              </div>

              <div class="form-group">
                <%= f.password_field :password, autocomplete: "off", class: 'password required custom-form-control form-control', placeholder: 'Password' %>
              </div>

              <div class="form-group">
                <label for="user_remember_me">
                  <%= f.check_box :remember_me %>
                  Remember Me
                </label>
              </div>

              <div class="form-group">
                <%= f.submit 'Log In', class: 'btn-primo-thin' %>
                <button type="button" class="btn-primo-border btn-cancel" data-bs-dismiss="modal">Cancel</button>
              </div>

              <div class="form-group others-link">
                <a href="#forgot-password-form" class="toggle-links link-forgot-password" data-action="click->login#showForgot">
                  Lost Your Password?
                </a>
              </div>
            <% end %>
          </div>

          <div id="forgot-password-form" class="form-wrapper hidden" data-login-target="forgotForm">
            <%= form_with(model: resource, url: password_path(resource_name), method: :post) do |f| %>
              <p class="lead">Reset Password</p>

              <div class="lostpassword-fields">
                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email, class: 'custom-form-control form-control' %>
                </div>

                <div class="form-group">
                  <%= f.submit 'Get New Password', class: 'btn-primo-thin' %>
                  <button type="button" class="btn-primo-border" data-bs-dismiss="modal">Cancel</button>
                </div>
              </div>

              <div class="lostpassword-link others-link">
                <a href="#opalloginform" class="toggle-links link-back-login" data-action="click->login#showLogin">
                  Back To Login
                </a>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
